In [ ]:
# Mahley Getu , Alejandro Gonzalez

In [43]:
# 1. Write a lambda function to rearrange positive and negative numbers in a given list

original_list = [-1,2,-3,4,-5,6,-7,8,-9,10,-11,12]
reorder1 = list(filter(lambda x: (x > 0), original_list))
reorder1.sort(key=lambda x:x, reverse = False)
reorder2 = list(filter(lambda x: (x < 0), original_list))
reorder2.sort(key=lambda x:x, reverse = False)
reordered_all = reorder1 + reorder2

print(reordered_all)

[2, 4, 6, 8, 10, 12, -11, -9, -7, -5, -3, -1]

In [39]:
# 2 Clean the JEOPARDY_DATA.csv so that `round` uses one-hot encoding instead of categorical values AND the `value` 
#column shows a decimal type when you do a type check. HINT: you may need to clean up the column names to make this easier.

import numpy as np
import pandas as pd

df = pd.read_csv("JEOPARDY_DATA.csv")
df.columns = df.columns.str.strip()
df.columns

Index(['Show Number', 'Air Date', 'Round', 'Category', 'Value', 'Question',
       'Answer'],
      dtype='object')

In [40]:
df['Value'] = df['Value'].replace('[\$,]','', regex=True).astype(float)
df.dtypes

Show Number      int64
Air Date        object
Round           object
Category        object
Value          float64
Question        object
Answer          object
dtype: object

In [37]:
df = pd.get_dummies(df, columns=["Round"])
df.dtypes

Round_True    bool
dtype: object

In [41]:
df.head()

,Show Number,Air Date,Round,Category,Value,Question,Answer
0,4680,12/31/2004,Jeopardy!,HISTORY,200.0,"For the last 8 years of his life, Galileo was ...",Copernicus
1,4680,12/31/2004,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,200.0,No. 2: 1912 Olympian; football star at Carlisl...,Jim Thorpe
2,4680,12/31/2004,Jeopardy!,EVERYBODY TALKS ABOUT IT...,200.0,The city of Yuma in this state has a record av...,Arizona
3,4680,12/31/2004,Jeopardy!,THE COMPANY LINE,200.0,"In 1963, live on ""The Art Linkletter Show"", th...",McDonald's
4,4680,12/31/2004,Jeopardy!,EPITAPHS & TRIBUTES,200.0,"Signer of the Dec. of Indep., framer of the Co...",John Adams

In [ ]:
# 3 

# It's inconvenient because when you are trying to work with datasets that use money and you want to visualize it
# as a limited number , rather than multiple decimals because python isn't able to accurately depict, money/currencies.