In [1]:
import pandas as pd

df_clothes = pd.DataFrame(data = [['blue','S',20,'lemon shirt'],
                                 ['blue','M',50,'jeans'],
                                  ['beige','M',7,'bucket hat']])

df_clothes.columns = ['color','size','price','type']
df_clothes

   color size  price         type
0   blue    S     20  lemon shirt
1   blue    M     50        jeans
2  beige    M      7   bucket hat

In [2]:
# can convert categorical values to numerical
#size is ordinal, so it can be directly encoded

size_map = {'S':1,'M':2,'L':3}
df_clothes['size'] = df_clothes['size'].map(size_map)
df_clothes

   color  size  price         type
0   blue     1     20  lemon shirt
1   blue     2     50        jeans
2  beige     2      7   bucket hat

In [3]:
%pip install scikit-learn

Collecting scikit-learn
  Downloading scikit_learn-1.5.2-cp39-cp39-win_amd64.whl.metadata (13 kB)
Requirement already satisfied: numpy>=1.19.5 in c:\users\jagz0\appdata\local\programs\python\python39\lib\site-packages (from scikit-learn) (2.0.2)
Requirement already satisfied: scipy>=1.6.0 in c:\users\jagz0\appdata\local\programs\python\python39\lib\site-packages (from scikit-learn) (1.13.1)
Collecting joblib>=1.2.0 (from scikit-learn)
  Downloading joblib-1.4.2-py3-none-any.whl.metadata (5.4 kB)
Collecting threadpoolctl>=3.1.0 (from scikit-learn)
  Downloading threadpoolctl-3.5.0-py3-none-any.whl.metadata (13 kB)
Downloading scikit_learn-1.5.2-cp39-cp39-win_amd64.whl (11.0 MB)
   ---------------------------------------- 0.0/11.0 MB ? eta -:--:--
   ------ --------------------------------- 1.8/11.0 MB 11.2 MB/s eta 0:00:01
   ------------------ --------------------- 5.0/11.0 MB 13.8 MB/s eta 0:00:01
   ----------------------------- ---------- 8.1/11.0 MB 14.4 MB/s eta 0:00:01
   ---------------------------------------- 11.0/11.0 MB 14.4 MB/s eta 0:00:00
Downloading joblib-1.4.2-py3-none-any.whl (301 kB)
Downloading threadpoolctl-3.5.0-py3-none-any.whl (18 kB)
Installing collected packages: threadpoolctl, joblib, scikit-learn
Successfully installed joblib-1.4.2 scikit-learn-1.5.2 threadpoolctl-3.5.0
Note: you may need to restart the kernel to use updated packages.

In [4]:
# very good for nominal values
# where we want a number so it processes faster
# but the number doesn't mean anything
from sklearn.preprocessing import LabelEncoder

class_labels = LabelEncoder()

df_clothes['types'] = class_labels.fit_transform(df_clothes['type'].values)
df_clothes

   color  size  price         type  types
0   blue     1     20  lemon shirt      2
1   blue     2     50        jeans      1
2  beige     2      7   bucket hat      0

In [5]:
# one hot encoding - easiest way
# this doesn't work if you have data that is already numerical.

df_clothes = pd.get_dummies(df_clothes[['color','size','price']])
df_clothes

   size  price  color_beige  color_blue
0     1     20        False        True
1     2     50        False        True
2     2      7         True       False